body{
    margin: 0;
    padding: 0;
}
.site-menu > ul > li{
    position: relative;
    display: inline-block;
}
.site-menu ul li:hover ul{
    display: block;
}
.site-menu ul li a{
    color: #fff;
    padding: 0 12px;
    text-decoration: none;
}
.site-menu .sub-menu li{
    list-style: none;
}
.site-menu .sub-menu{
    display: none;
}
.site-menu ul li ul.sub-menu{
    position: absolute;
    background: #007BFF;
    padding: 5px 10px 5px;
}
.login-btn{
    color: #fff;
    border: 1px solid #fff;
}
.login-btn:hover{
    color: #fff;
}