body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    padding: 0 !important;
}
.site-menu > ul > li{
    position: relative;
    display: inline-block;
}
.site-menu ul li:hover ul{
    display: block;
}
.site-menu ul li{
    margin-right: 25px !important;
}
.site-menu ul li:last-child{
    margin-right: 0 !important;
}
.site-menu ul > li > a{
    color: #fff;
    padding: 25px 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}
.site-menu ul .menu-item-has-children{
    position: relative;
}
.site-menu ul .menu-item-has-children > a{
    padding-right: 16px;
}
.site-menu ul .menu-item-has-children > a:after {
    content: '\f107';
    font-size: 22px;
    top: 20px;
    left: 63px;
    position: absolute;
    font-family: 'FontAwesome';
}
.site-menu .sub-menu li{
    list-style: none;
}
.site-menu .sub-menu{
    display: none;
}
.site-menu ul li ul.sub-menu{
    width: 180px;
    position: absolute;
    background: #007BFF;
    padding: 5px 10px 10px;
}
.site-menu ul li ul.sub-menu > li > a{
    padding: 0 0 12px 0 !important;
}
.site-menu ul li ul.sub-menu > li:last-child > a{
    padding-bottom: 0 !important;
}
/* Login Button */
.login-btn{
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Open Sans', sans-serif;
}
.login-btn:hover{
    color: #fff;
}

/* Media Queries */
@media (max-width: 991px){
    .navbar {
        padding: 17px 0 !important;
    }
    .site-menu ul li ul.sub-menu{
        position: relative;
        padding-bottom: 0 !important;
    }
    .site-menu ul li a{
        padding: 14px 0 0 0 !important;
        display: inline-block;
    }
    /* .site-menu ul li:last-child a{
        padding-bottom: 14px !important;
    } */
    .site-menu ul .menu-item-has-children > a:after{
        top: 11px;
    }
    .login-btn{
        display: none;
    }
}